.services {
  max-width: 85%;
  margin: auto;
  margin-top: 8em;

  .wrapper {
    h3 {
      font-weight: lighter;
      text-align: center;
      text-transform: uppercase;
      font-size: 15px;
      position: relative;
      width: fit-content;
      margin: auto;

      &::after {
        content: "";
        position: absolute;
        width: 4em;
        height: 4px;
        bottom: 0;
        left: 0;
        margin-bottom: -4px;
        background-color: #f9964b;
      }
    }

    h4 {
      width: 70%;
      margin: auto;
      margin-top: 1em;
      line-height: 1.1;
      font-size: 1.7em;
      font-weight: normal;
      text-transform: capitalize;
      text-align: center;
    }

    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 4em;

      .box {
        width: 370px;
        height: 240px;
        padding: 1em;
        border-top: 3px solid #f9964b;

        h2 {
          font-size: 1.1em;
          margin-top: 5px;
          text-transform: capitalize;
        }

        p {
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .services {
    max-width: 90%;
    margin: auto;
    margin-top: 2em;

    .wrapper {
      h3 {
        font-weight: lighter;
        text-align: left;
        width: 100%;
      }

      h4 {
        width: 100%;
        margin: auto;
        margin-top: 1em;
        font-size: 1.2em;
        text-align: left;
      }

      .container {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
        margin-top: 3em;

        .box {
          width: 100%;
          height: fit-content;
          padding: 1em;
          border-top: none;
          border-left: 4px solid #f9964b;

          img {
            width: 40px;
          }

          h2 {
            font-size: 1.1em;
            margin-top: 5px;
            text-transform: capitalize;
          }

          p {
            margin-top: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .services {
    max-width: 90%;
    margin: auto;
    margin-top: 8em;

    .wrapper {
      h3 {
        text-align: left;
        width: 100%;
        margin: none;
      }

      h4 {
        width: 100%;
        margin: none;
        text-align: left;
      }

      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2em;
        width: 100%;
        margin-top: 4em;
      }
    }
  }
}
