.quality {
  width: 85%;
  margin: auto;
  margin-top: 7em;

  .wrapper {
    h3 {
      text-align: center;
      font-weight: lighter;
      text-transform: uppercase;
      font-size: 15px;
      max-width: fit-content;
      margin: auto;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 4em;
        height: 4px;
        bottom: 0;
        left: 0;
        margin-bottom: -4px;
        background-color: #f9964b;
      }
    }

    h2 {
      text-align: center;
      text-transform: capitalize;
      font-size: 2.2em;
      font-weight: lighter;
      margin-top: 10px;

      span {
        font-weight: bold;
        color: #f9964b;
      }
    }

    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 3em;

      .box1 {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: fit-content;
        padding: 2em;
        cursor: pointer;
        box-shadow: -1px 6px 21px -2px rgba(0, 0, 0, 0.17);

        &:hover {
          outline: 5px solid #fcd07d;
          box-shadow: none;
          transition: 0.1s;
        }

        p {
          font-size: 1.3em;
          font-weight: bold;
          margin-top: 1em;
        }

        .desc {
          margin-top: 1em;
          font-size: 14px;
        }
      }

      .box2 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 300px;
        height: 350px;
        padding: 1em;

        span {
          font-size: 3em;
          font-weight: bold;
          line-height: 1;
        }

        .desc {
          margin-top: 1em;
        }

        .get-quote {
          margin-top: 10px;
          cursor: pointer;
          color: #f9964b;
          font-weight: bold;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .quality {
    width: 85%;
    margin: auto;
    margin-top: 7em;

    .wrapper {
      h3 {
        max-width: 100%;
        margin: none;
        text-align: left;
      }

      h2 {
        text-align: left;
        line-height: 1.1;
        margin-top: 1em;
      }

      .container {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 3em;

        .box1 {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: fit-content;
        }

        .box2 {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 0;
          margin-top: 1em;
          .desc {
            margin-top: 1em;
          }

          .get-quote {
            margin-top: 1em;
          }
        }
      }
    }
  }
}
