.home {
  width: 100%;
  .hero {
    background-image: url("/src/assets/heroimg.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about {
    width: 85%;
    margin: auto;
    margin-top: 7em;
    display: flex;
    align-items: center;

    .left {
      width: 50%;

      .head {
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;
        position: relative;
        margin-left: 5em;

        &::before {
          content: "";
          width: 3.5em;
          height: 1px;
          background-color: black;
          position: absolute;
          top: 10px;
          left: -4em;
        }
      }

      h2 {
        text-transform: capitalize;
        margin-top: 10px;
        letter-spacing: 1px;
      }

      .brief-info {
        margin-top: 10px;
        font-size: 14px;
        width: 80%;

        p {
          margin-top: 10px;

          span {
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
    }

    .right-imgs {
      display: flex;
      align-items: center;
      gap: 2em;
      position: relative;

      .pic1 {
        position: relative;

        .date {
          position: absolute;
          right: -30%;
          top: 35%;
          background-color: #f9964b;
          height: 140px;
          width: 140px;
          border-radius: 50%;
          line-height: 1.1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white;
          text-transform: uppercase;

          span {
            font-size: 2em;
            font-weight: bold;
          }
        }
      }
    }
  }

  .wrap {
    max-width: 85%;
    margin: auto;
    margin-top: 7em;

    p {
      margin-top: 0.7em;
      width: 40%;
      span {
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    .hero {
      background-image: url("/src/assets/heroimg.jpg");
      width: 100%;
      height: fit-content;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0 0 4em 0;
    }

    .about {
      width: 90%;
      margin: auto;
      margin-top: 7em;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;

      .left {
        width: 100%;
        margin-top: 1em;

        .head {
          margin-left: 0;
          text-align: center;

          &::before {
            position: absolute;
            top: 10px;
            left: 10%;
          }
        }

        .brief-info {
          margin-top: 10px;
          font-size: 14px;
          width: 100%;

          p {
            margin-top: 10px;

            span {
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }

      .right-imgs {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        position: relative;

        img {
          width: 100%;
        }

        .pic1 {
          position: relative;

          .date {
            position: absolute;
            right: 35%;
            top: 90%;
            background-color: #f9964b;
            height: 120px;
            width: 120px;
            border-radius: 50%;
            line-height: 1.1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            text-transform: uppercase;

            span {
              font-size: 2em;
              font-weight: bold;
            }
          }
        }
      }
    }

    .wrap {
      max-width: 90%;
      margin: auto;
      margin-top: 3em;

      p {
        margin-top: 0.7em;
        width: 100%;
        span {
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .home {
    .hero {
      background-image: url("/src/assets/heroimg.jpg");
      width: 100%;
      height: fit-content;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0 0 1em 0;
    }

    .about {
      width: 90%;
      margin: auto;
      margin-top: 7em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .left {
        width: 100%;

        .brief-info {
          margin-top: 10px;
          font-size: 14px;
          width: 100%;
        }
      }

      .right-imgs {
        display: flex;
        align-items: center;
        gap: 2em;
        position: relative;
        margin-top: 2em;
      }
    }

    .wrap {
      max-width: 85%;
      margin: auto;
      margin-top: 7em;

      p {
        margin-top: 0.7em;
        width: 40%;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
