.navbar {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 1em 0;
    margin: auto;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      margin-bottom: 5px;
      width: 100%;
      height: 1px;
      background-color: rgb(163, 163, 163);
    }
    .left-side {
      display: flex;
      align-items: center;
      gap: 7em;
      width: 50%;

      .hamburger {
        display: none;
      }

      .logo {
        display: flex;
        align-items: center;

        .logo-itm {
          display: flex;
          align-items: center;
          gap: 0.3em;
        }
        .icon {
          font-size: 2.5em;
          fill: #fb8445;
        }

        p {
          font-size: 1.3em;
          color: black;

          span {
            font-size: 0.8em;
          }
        }
      }

      .links-desktop {
        display: flex;
        align-items: center;
        gap: 2.5em;
        text-transform: uppercase;
        font-size: 13px;

        .mobile-logo-itm {
          display: none;
        }

        a {
          color: black;
          cursor: pointer;
        }
      }
    }

    .cart-quote {
      display: flex;
      align-items: center;
      gap: 2em;
      width: fit-content;

      .cart {
        .icon {
          fill: white;
          font-size: 20px;
          cursor: pointer;
        }

        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.177);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: rgba(255, 255, 255, 0.504);
          transition: 0.2s all;
        }
      }

      .get-quote {
        height: 35px;
        width: 6em;
        background-color: #fb8445;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: transparent;
          outline: 1px solid #fb8445;
        }

        a {
          color: white;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    position: relative;
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      padding: 0.8em 0;
      margin: auto;
      position: unset;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        margin-bottom: 0px;
        display: none;
      }
      .left-side {
        gap: 0em;
        width: 50%;

        .hamburger {
          display: block;
          font-size: 1.2em;
        }

        .logo {
          display: flex;
          align-items: center;
          gap: 0.8em;

          .icon {
            font-size: 2em;
          }

          p {
            font-size: 1.1em;

            span {
              font-size: 0.8em;
            }
          }
        }

        .links-desktop {
          display: none;
        }

        .links-mobile {
          position: absolute;
          margin: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100vw;
          height: 100vh;
          background-color: white;
          z-index: 1;
          padding: 2em;

          .mobile-logo-itm {
            display: flex;
            align-items: center;
            gap: 0.3em;
            margin-top: 3em;

            .icon {
              font-size: 2.2em;
              fill: #fb8445;
            }

            p {
              font-size: 1.4em;
              color: black;
              font-weight: bold;

              span {
                font-size: 0.8em;
              }
            }
          }

          .close-icon {
            position: absolute;
            right: 10%;
            top: 3%;
            font-size: 1.5em;
          }

          .links {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 2em;
            margin-top: 3em;

            a {
              font-size: 19px;
              font-weight: bold;

              &:nth-child(1) {
                animation: slideIn 0.2s linear;
              }
              &:nth-child(2) {
                animation: slideIn 0.2s linear;
              }
              &:nth-child(3) {
                animation:slideIn 0.2s linear;
              }
              &:nth-child(4) {
                animation: slideIn 0.2s linear;
              }
            }
          }
        }
      }

      .cart-quote {
        .get-quote {
          height: 30px;
          width: 5.5em;
        }
      }
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-3em);
  }

  100% {
    transform: translateX(0);
  }
}
