.whyus {
  max-width: 85%;
  margin: auto;
  margin-top: 8em;

  .wrapper {
    display: flex;
    justify-content: space-between;

    .img {
      position: relative;
      .border {
        width: 300px;
        height: 400px;
        border: 10px solid #f9964b;
      }

      img {
        position: absolute;
        bottom: 6em;
        right: -10em;
      }
    }

    .container {
      width: 50%;

      .head {
        text-transform: uppercase;
        font-size: 1.2em;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 3em;
          height: 5px;
          bottom: 0;
          left: 0;
          margin-bottom: -2px;
          background-color: #f9964b;
        }
      }

      .reason {
        font-size: 3.5em;
        font-weight: bold;
        line-height: 1.1;
        margin-top: 10px;
      }

      p {
        font-size: 14px;
        margin-top: 10px;
        width: 80%;
      }

      .details {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        margin-top: 10px;

        div {
          width: 200px;
          height: 150px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .project,
        .customers {
          span {
            font-size: 3em;
            font-weight: bold;
            color: #f9964b;
          }
        }

        .install,
        .plans {
          span {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
          }

          p {
            font-size: 12px;
            margin-top: 1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .whyus {
    max-width: 90%;
    margin: auto;
    margin-top: 10em;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 3em;
      justify-content: space-between;

      .img {
        position: relative;
        .border {
          width: 50%;
          height: 200px;
        }

        img {
          width: 80%;
          position: absolute;
          bottom: -3em;
          right: 1em;
        }
      }

      .container {
        width: 100%;
        margin-top: 2em;

        .head {
          text-transform: uppercase;
          font-size: 1.2em;
        }

        .reason {
          font-size: 2.5em;
        }

        p {
          width: 100%;
        }

        .details {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1em;
          margin-top: 10px;

          div {
            width: 200px;
            height: 150px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          .project,
          .customers {
            span {
              font-size: 2.5em;
            }
            p {
              text-align: center;
            }
          }

          .install,
          .plans {
            p {
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .whyus {
    max-width: 90%;
    margin: auto;
    margin-top: 8em;

    .wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;

      .img {
        position: relative;
        .border {
          width: 300px;
          height: 350px;
          border: 10px solid #f9964b;
        }

        img {
          position: absolute;
          bottom: -4em;
          right: 13em;
          width: 60%;
        }
      }

      .container {
        width: 100%;

        .reason {
          font-size: 2.5em;
        }

        p {
          font-size: 14px;
          margin-top: 15px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .whyus {
    .wrapper {
      .img {
        display: none;
      }
    }
  }
}
